<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      
    </div>
    <div class="carousel-inner">
      <div *ngFor="let car of cars" class="carousel-item active" data-bs-interval="10000">
        <img src="{{imageBasePath}}/{{car.imagePath}}" class="d-block w-100" alt="{{car.carName}} Image">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
     
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
    <ul *ngFor="let car of cars" class="list-group"><br>
      <li class="list-group-item list-group-item-primary">Marka: {{car.brandName}}</li><br>
      <li class="list-group-item list-group-item-secondary">Renk: {{car.colorName}}</li><br>
      <li class="list-group-item list-group-item-success">Model Yılı: {{car.modelYear}}</li><br>
      <li class="list-group-item list-group-item-danger">Fiyat: {{car.dailyPrice}} Türk Lirası</li><br>
      <li class="list-group-item list-group-item-warning">Marka Modeli : {{car.carName}}</li>
    </ul>
  </div>
</div>