<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th colspan="6">RENTALS</th>
    </tr>
    <tr>
      <th>Car-Model</th>
      <th>Customer</th>
      <th>Company</th>
      <th>Rent Date</th>
      <th>Return Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td class="font-monospace">{{ rental.carName }}</td>
      <td class="font-monospace">{{ rental.customerName }}</td>
      <td class="font-monospace">{{ rental.companyName }}</td>
      <td class="font-monospace">{{ rental.rentDate }}</td>
      <td class="font-monospace">{{ rental.returnDate }}</td>
    </tr>
  </tbody>
</table>