<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
  <h4>ARAÇ LİSTESİ</h4>
    </tr>
  </thead>
  </table>
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row" *ngIf="dataLoaded==true">
  <div *ngFor="let car of cars" class="card" style="width: 20rem;">
   
    <div  class="card-body">
      <h5 class="card-title"></h5>
    </div >
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger">Marka: {{car.brandName}}</li>
      <li class="list-group-item list-group-item-warning">Renk: {{car.colorName}}</li>
      <li class="list-group-item list-group-item-info">Model Yılı: {{car.modelYear}}</li>
      <li class="list-group-item list-group-item-light">Fiyat: {{car.dailyPrice}} Türk Lirası</li>
      <li class="list-group-item list-group-item-dark">Marka Modeli : {{car.carName}}</li>
    </ul>
    <div class="card-body">
      <section style="float:left">
        <button routerLink="/car/details/{{car.carId}}" type="button" class="btn btn-primary">Detaylar</button>
      </section>
      <section style="float: right">
        <button type="button" class="btn btn-primary">Kirala</button>
      </section>
    </div>
  </div>
</div>
